<h1>Register As Premium User?</h1>
<h3>Benefits Include Selling or Renting Properties.</h3>
<h3>Payment Information: $9 a month</h3>
<form asp-action="ConvertNow">
    <button type="submit" class="btn btn-danger">Pay<i class="fas fa-gem"></i></button>
</form>