@model REMS.Models.BidModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BidModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.propname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.propname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bid)
        </dd>
    </dl>
</div>
<div>   
    <a asp-action="Index">Back to List</a>
</div>
